@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container__project {
  width: 100%;
  max-width: 800px;
  /* max-height: 600px;
  height: 100%; */
  
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  padding: 10px;
}

.cards {
  position: relative;
  width: 100%;
  height: 470px;
  margin-bottom: 20px;
  /* border: 4px solid blue; */
}

.p1 {
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid green;
}

#item-1:checked ~ .cards #song-4, 
#item-2:checked ~ .cards #song-1, 
#item-3:checked ~ .cards #song-2, 
#item-4:checked ~ .cards #song-3
{
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, 
#item-2:checked ~ .cards #song-3, 
#item-3:checked ~ .cards #song-4, 
#item-4:checked ~ .cards #song-1
{
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-3:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-4,
#item-1:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-2
{
  opacity: 0;
  z-index: 0;
}



#item-1:checked ~ .cards #song-1, 
#item-2:checked ~ .cards #song-2, 
#item-3:checked ~ .cards #song-3, 
#item-4:checked ~ .cards #song-4
{
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1 img, 
#item-2:checked ~ .cards #song-2 img, 
#item-3:checked ~ .cards #song-3 img, 
#item-4:checked ~ .cards #song-4 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

/* To add new project follow this steps:
  1. Add a new input as radio under "container__project".
  2. Define new label as: <label class="card" for="item-5" id="song-5">, make sure you make the changes for
  item number and song id.
  3. Define project class, and make a class project_wrapper (For ease, copy the same content from above
  of project_wrapper.
  4. Come to the project_styling.css: (Only see the changes, that have to make)
      a. for -40% transform - you need to make the following changes: 1-->5, 2-->1, 3-->2, 4-->3, 5-->4
      b. for 40% transform, make the following changes: 1-->2, 2-->3, 3-->4, 4-->5, 5-->1
      c. for next two: add for both:  5-->5 
*/